.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: #f2f2f2;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  overflow: auto;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;

  &-title {
    letter-spacing: 2px;
    padding: 1rem 2rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
  }
  &-song {
    display: flex;
    text-transform: capitalize;
    align-items: center;
    margin-bottom: 30px;
    transition: ease 0.3s background;
    img {
      margin-bottom: 10px;
      width: 30%;
    }
    &:hover {
      background-color: rgb(222,222,255);

      cursor: pointer;
    }
  }
  &-songs {
    padding: 1rem 2rem;
  }
}
.song-description {
  padding: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
.active-library {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
  
}