* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin:  0 ;
    
}
h1, h2, h3,h4 {
    color: #545454;
}
h3,h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}
.App {
  transition: all ease 0.5s;
}

.library-active {
  margin-left: 30%;
}